<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Adding new user</title>
</head>
<body>
<form th:action="@{/add-user}" th:object="${newUser}" method="post">
  <p>First name: <input type="text" th:field="*{email}"></p>
  <p>Password: <input type="text" th:field="*{password}"></p>
  <p>First name: <input type="text" th:field="*{firstName}"></p>
  <p>Last name: <input type="text" th:field="*{lastName}"></p>
  <p><input type="submit" value="add new user"></p>
</form>
</body>
</html>
