<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="questions.css">
</head>
<body>

<div>
    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b><br>
    Welcome <b>[[${#request.userPrincipal.principal.email}]]</b>
</div>

<div>
    <p class="counter" th:text="'Question ' + ${questionNumber} + ' of ' + ${questionCount}"></p>
    <p class="question" th:text="${questionText}"></p>
</div>


<div class="answers">
    <form th:action="@{/add-user-answer}" th:object="${newUserAnswer}" method="post" class="mt-5">
        <div class="form-group">
            <div th:each="answer: ${answers}">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="answer" th:value="${answer.answerNumber}" th:field="*{answerNumber}" class="custom-control-input">
                    <label class="custom-control-label" th:text="${answer.answerText}">model</label>
                </div>
            </div>
        </div>
        <p><input class="button" type="submit" value="next"></p>
    </form>
</div>

</body>
</html>
