<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quizer - user stats</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container align-items-center d-flex justify-content-center">
    <div>
        <div>
            <h1>Current user stats</h1>
        </div>
        <div class="user-stats mt-5">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                    <td>Number of quizes</td>
                    <td th:text="${numberOfQuizes}"></td>
                </tr>
                <tr>
                    <td th:text="'Percentage success: '"></td>
                    <td th:text="${percentageSuccess} + '%'"></td>
                </tr>
                <tr>
                    <td>Number of correct answers</td>
                    <td th:text="${numberOfCorrect}"></td>
                </tr>
                <tr>
                    <td>Number of incorrect answers</td>
                    <td th:text="${numberOfWrong}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/quiz_panel}" class="btn btn-outline-primary mt-5">Back to quiz panel</a>
        </div>
    </div>
</div>
</body>
</html>
