<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quizer - quiz panel</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div>
        <p>Your stats</p>
    </div>
    <div>
        <p th:text="'Number of quizes: ' + ${numberOfQuizes}"></p>
        <p th:text="'Percentage success: ' + ${percentageSuccess}"></p>
        <p th:text="'Number of correct answers: ' + ${numberOfCorrect}"></p>
        <p th:text="'Number of incorrect answers: ' + ${numberOfWrong}"></p>
        <a th:href="@{/quiz_panel}" class="btn btn-primary mt-2">Back to quiz panel</a>
    </div>
</div>
</body>
</html>
